<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/asset/reset.css" />
        <link rel="stylesheet" href="/asset/main.css" />
        <link rel="stylesheet" href="/asset/highlight.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-55615283-1', 'auto');
	  ga('send', 'pageview');
	</script>
    </head>
    <body>
        <header>
            Blog by <strong>windk</strong>.
        </header>
        <section>
            {{ content }}
        </section>
    </body>
</html>
